.heading {
  text-align: center;
}

.products {
  margin-top: 70px;
}

.container {
  display: flex;
  margin-top: 20px;
}

.section1 {
  width: 500px;
  display: flex;
  align-items: center;
}

.img-section {
  justify-content: center;
  align-items: center;
}

.thumbnail {
}

.desc-section {
  margin-left: 50px;
}

.section2 {
  justify-content: center;
  align-items: center;
  margin-left: 550px;
}
